<div class="container my-3">
  <h2>Personajes y contientes de Juego de tronos</h2>
  <app-header-filter-box (filterText)="applyFilter($event)"></app-header-filter-box>
  <div class="my-3">
    <mat-tab-group>
      <mat-tab label="Personajes">
        <app-characters-list [searchFilter]="filterText"></app-characters-list>
      </mat-tab>
      <mat-tab label="Continentes">
        <div *ngFor="let c of continents">
          <h2>{{ c.name }}</h2>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
