<div class="row">
  <div *ngFor="let c of characters | nameFilter: searchFilter" class="col col-6 col-md-4">
    <mat-card class="character-card">
      <mat-card-header>
        <mat-card-title>{{ c.fullName }}</mat-card-title>
        <mat-card-subtitle>{{ c.family }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="c.imageUrl" class="character-image">
      <mat-card-content>
        <p>
          {{ c.title }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
